<div class="main-container">
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.php?controller=task&action=seeGroupTask">Groupes</a></li>
            <li class="breadcrumb-item active" aria-current="page">Tâches</li>
        </ol>
    </nav>

    <!-- Groupe -->
    <div id="contentPage align-item-left">
        <div class="contentGroup">
        </div>
    </div>
	<script src="../../../ToDoList/ToDoList/resources/js/custom/addTaskToPage.js"></script>