<div class="main-container">
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Groupes</li>
        </ol>
    </nav>

    <!-- Groupe -->
    <div id="contentPage align-item-left">
        <div class="contentGroup">
        </div>
        <button type="button" id="btnAddGroup" class="btn btn-info addTask">
            <div class="crossHorizontal"></div>
            <div class="crossVertical"></div>
        </button>
    </div>

    <!-- Modal Comfirm delete -->
    <div class="modal fade" id="confirmation-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body text-center font-18">
                    <h4 class="padding-top-30 mb-30 weight-500">Are you sure you want to continue?</h4>
                    <div class="padding-bottom-30 row" style="max-width: 170px; margin: 0 auto;">
                        <div class="col-6">
                            <button type="button" class="btn btn-secondary border-radius-100 btn-block confirmation-btn" data-dismiss="modal"><i class="fa fa-times"></i></button>
                            NO
                        </div>
                        <div class="col-6">
                            <button type="button" class="btn btn-primary border-radius-100 btn-block confirmation-btn" data-dismiss="modal"><i class="fa fa-check"></i></button>
                            YES
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End modal confirm delete -->

    <!-- Modal Add Group -->
    <div id="add-group-modal" class="modal modal-top fade calendar-modal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <form id="add-group" method="post">
                    <div class="modal-body">
                        <h4 class="text-blue h4 mb-10">Ajouter un groupe</h4>
                        <div class="alert alert-danger alertMessage" role="alert">
                        </div>
                        <div class="form-group">
                            <label>Nom du groupe</label>
                            <input type="text" class="form-control" name="name">
                        </div>
                        <div class="form-group">
                            <label>
                                Couleur
                            </label>
                            <input type="text" class="complex-colorpicker form-control" value="#7ab2fa" name="color"/>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Save</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- End modal add Group -->

	<script src='/ToDoList/ToDoList/resources/js/custom/addGroupToPage.js'></script>
	<script src='/ToDoList/ToDoList/resources/js/custom/groupsActions.js'></script>