<div class="main-container">
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.php?controller=task&action=seeGroupTask">Groupes</a></li>
            <li class="breadcrumb-item active" aria-current="page">Tâches</li>
        </ol>
    </nav>

    <!-- Tasks -->
    <div class="contentPage align-item-left">
        <div class="contentTask"></div>
    </div>

    <!-- Modal Description Task -->
    <div class="modal fade bs-example-modal-lg" id="task-info" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header d-flex">
                    <div class="taskIcon align-self-center mr-3">
                        <i class='fa fa-circle'></i>
                    </div>
                    <h4 class="modal-title taskTitle" id="myLargeModalLabel"></h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body taskBody">
                </div>
                <div class="modal-footer d-flex justify-content-around">
                    <div class="taskDate">
                        <a href="index.php?controller=home&action=home" class="taskDateInfo">02 juin 2022</a>
                    </div>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End modal description Task -->

    <!-- Modal Comfirm delete -->
    <div class="modal fade" id="confirmation-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body text-center font-18">
                    <h4 class="padding-top-30 mb-30 weight-500">Are you sure you want to continue?</h4>
                    <div class="padding-bottom-30 row" style="max-width: 170px; margin: 0 auto;">
                        <form method="post" class="d-flex w-100 justify-content-around">
                            <div class="col-6">
                                <button type="button" class="btn btn-secondary border-radius-100 btn-block confirmation-btn" data-dismiss="modal"><i class="fa fa-times"></i></button>
                                NO
                            </div>
                            <div class="col-6">
                                <button type="submit" class="btn btn-primary border-radius-100 btn-block confirmation-btn"><i class="fa fa-check"></i></button>
                                YES
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End modal confirm delete -->

    <!-- Modal Add task -->
    <div id="add-task-modal" class="modal modal-top fade calendar-modal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <form id="add-task" method="post">
                    <div class="modal-body">
                        <h4 class="text-blue h4 mb-10">Ajouter une tâche</h4>
                        <div class="alert alert-danger alertMessage" role="alert">
                        </div>
                        <div class="form-group">
                            <label>Nom de la tâche</label>
                            <input type="text" class="form-control" name="name">
                        </div>
                        <div class="form-group">
                            <label>Date</label>
                            <input class="form-control datetimepicker-range" placeholder="Select Dates" type="text" name="date">
                        </div>
                        <div class="form-group">
                            <label>Heure de début</label>
                            <input type='text' class="form-control time-picker-default hourStart" name="starthour">
                        </div>
                        <div class="form-group">
                            <label>Heure de fin</label>
                            <input type='text' class="form-control time-picker-default hourEnd" name="endhour">
                        </div>
                        <div class="form-group d-flex w-100 justify-content-between">
                            <label class="align-items-center h-auto">Toute la journée</label>
                            <input type='checkbox' id="allDay" class="form-control w-25" name="allDay">
                        </div>
                        <div class="form-group">
                            <label>Description</label>
                            <textarea class="form-control" name="desc"></textarea>
                        </div>
                        <div class="form-group">
                            <label>Icone de la tâche</label>
                            <select class="form-control" name="icon">
                                <option value="circle">Rond</option>
                                <option value="cog">Roue</option>
                                <option value="group">Groupe</option>
                                <option value="suitcase">Valise</option>
                                <option value="calendar">Calendrier</option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Save</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- End modal add tasks -->

	<script src='/ToDoList/ToDoList/resources/js/custom/addTasksToPage.js'></script>
	<script src='/ToDoList/ToDoList/resources/js/custom/tasksActions.js'></script>
	<script src='/ToDoList/ToDoList/resources/js/custom/disableHour.js'></script>
	<script src='/ToDoList/ToDoList/resources/js/custom/setDateView.js'></script>