.allowCookies{
    display: none;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 2;

    transform: translateY(200px);
    transition: transform 1s;
}

/*Check tasks*/
.roundedDiv{
    width: 20px;
    height: 20px;
    border: solid gray 1px;
    border-radius: 50px;
    cursor: pointer;
}
.isChecked{
    background-color: #1b00ff;
}
.littleCheck{
    display: none;
    width: 5px;
    height: 3px;
    background-color: white;
    position: relative;
    top: 10px;
    left: 2px;
    transform: rotate(45deg);
}
.longCheck{
    display: none;
    width: 15px;
    height: 3px;
    background-color: white;
    position: relative;
    top: 8px;
    left: -2px;
    transform: rotate(-55deg);
}

/*Add tasks on the tasks page*/
.addTask{
    width: 100px;
    height: 100px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 100px;
    display: flex;
    align-items: center;
}
.crossVertical{
    position: relative;
    min-width: 75px;
    height: 10px;
    background-color: white;
    border-radius: 5px;
    transform: rotate(-90deg);
    left: -80px;
}
.crossHorizontal{
    position: relative;
    min-width: 75px;
    height: 10px;
    background-color: white;
    border-radius: 5px;
    left: -5px;
}
.alertMessage{
    display: none;
}
.show{
    display: block !important;
}