<!-- cookie warning cookies -->
<div class="allowCookies w-100 justify-content-around">
    <div class="p-4">
        <div class="toast bg-light text-black w-100 mw-100" role="alert" data-autohide="false">
            <div class="toast-body p-4 d-flex flex-column">
                <h4>Cookie Warning</h4>
                <p>
                This website stores data such as cookies to enable site functionality including analytics and personalization. By using this website, you automatically accept that we use cookies. 
                </p>
                <div class="ml-auto">
                    <button type="button" class="btn btn-outline-dark mr-3" id="btnDeny">
                        Deny
                    </button>
                    <button type="button" class="btn btn-dark" id="btnAccept">
                        Accept
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>